{% extends 'base.html' %}
{% block content%}
<div class="container center-align">
    <h1>Delete Comment</h1>
    <h4>
        Are you sure you want to delete the comment:  <span class="teal-text">{{ object.content }}</span>?
    </h4>
    <form action="" method="post">
        {% csrf_token %}
        <input class="btn red" type="submit" value="Yes - Delete">
        <a class="btn blue" href="{% url 'posts_detail' object.post.topic.id object.post.id %}">Cancel</a>
    </form>
</div>
{% endblock %}