{% extends 'base.html' %} 

{% block content %}
<div class="topic_detail">
    {{ topic.id }}
    {{ topic.title }}
    {{ topic.subtitle }}
    {{ topic.date }}
</div>
<div>
    <h2>All Post</h2>
    {% for post in topic.post_set.all %}
    <div>
        <a href="{% url 'posts_detail' topic.id post.id %}">
            {{ post.title }}
        </a>
        posted by: {{ post.user }}
    </div>
    {% endfor %}
    <h2>Add A Post</h2>
    <form action="{% url 'posts_create' topic.id %}" method="post">
        {% csrf_token %}
        {{ post_form.as_p }}
        <input class="btn indigo" type="submit" value="Add Post">
    </form>
</div>
{% endblock %}