{% extends 'base.html' %} 

{% block content %}
<div class="container">
    <div class="topic_detail center-align">
        <h3>{{ topic.title }}</h3>
        <h6>{{ topic.subtitle }}</h6>
        <p>{{ topic.date }}</p>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form action="{% url 'posts_create' topic.id %}" method="post">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <input class="btn indigo" type="submit" value="Add Post">
                </form>
            </div>
        </div>
        <div class="col s12">
            <h3>All Posts</h3>
            {% for post in topic.post_set.all %}
                <div>
                    <a href="{% url 'posts_detail' topic.id post.id %}">
                        {{ post.title }}
                    </a>
                    posted by: {{ post.user }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}