{% extends 'base.html' %} 

{% block content %}
<div class="container">
    <div class="row">
        {% for topic in object_list %}
            <div class="col s12 m6 l4">
                <a href="{% url 'detail' topic.id %}">
                    <div class="card hoverable">
                        <div class="card-content center-align">
                            <span class="card-title">{{ topic.title }}</span>
                            <p>{{ topic.subtitle }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}