{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/6fc5c678f7.js" crossorigin="anonymous"></script>

    <title>Dev-to-Dev</title>
</head>
<body>
    <header>
        <nav class="nav-wraper #37474f blue-grey darken-3">
            <div class="container">
                <a href="/" class="brand-logo">Dev-to-Dev</a>
                <a href="" class="sidenav-trigger" data-target="mobile-menu">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down"> 
                <li><a href="/topics">Topics</a></li>
                {% if user.is_authenticated %}
                <li><a href="/" class="btn-floating blue-grey darken-4 z-depth-0">
                  <i class="material-icons">notifications</i>
                </a></li>
                <li><span class="badge white-text pink new">6</span></li>
                <li>{{ user.username }}</li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="/accounts/login ">Log In</a></li>
                <li><a href="/accounts/signup">Sign Up</a></li>
                </ul>
                {% endif %}
                <ul class="sidenav grey lighten-2" id="mobile-menu">
                <li><a href="/topics">Topics</a></li>
                <li><a href="/accounts/login ">Log In</a></li>
                <li><a href="/accounts/signup">Sign Up</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="texture">
        {% block content %} 
        {% endblock %}
    </main>
</body>
<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12 16">
             All Rights Reserved, &copy; 2021 Dev-to-Dev &nbsp;
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){

      $('.sidenav').sidenav();

    });
  </script>
</html>