<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Dev-to-Dev</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Dev-to-Dev</a>
            <a href="/topics">Topics</a>
            <a href="/accounts/login ">Log In</a>
            <a href="/accounts/signup">Sign Up</a>
        </nav>
    </header>
    <main>
        {% block content %} 
        {% endblock %}
    </main>
</body>
<footer>
    All Rights Reserved, &copy; 2021 Dev-to-Dev &nbsp;
</footer>
</html>