* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}


footer {
    padding-top: 0;
    text-align: center;
}

.test {
    background: url(/static/imgs/hands.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

@media screen and (max-width: 670px){
    header.test, div.logo {
        min-height: 500px;
    }
}

.logo {
    background-image: url(/static/imgs/logo_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius: 50px;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.topic {
    padding-left: 10px;
}

form {
    padding-left: 10px;  
}

.login {
    font-size: 27px;
    margin: auto;
    margin-top: 300px;
}