* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}


footer {
    padding-top: 0;
    text-align: center;
}

.test {
    background: url(/static/imgs/hands.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.texture {
    background: url(/static/imgs/texture.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

@media screen and (max-width: 670px){
    header.test, div.logo {
        min-height: 500px;
    }
}

.logo {
    background-image: url(/static/imgs/logo_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    height: 400px;
    border-radius: 50px;
}


h1, .brand-logo, .login {
    font-family: 'Lato', sans-serif;
}

.topic {
    padding-left: 10px;
}

span.badge {
    position: relative;
    top: 20px;
    right: 20px;

}

form {
    padding: 10px; 
}


.flow-text {
    font-size: 33px;
}


.login {
  font-size: 27px;
  margin: auto;
  margin-top: 378px;
  margin-left: -120px;
}

@media only screen and (max-width: 1002px) {
  .login {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .login {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}