{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="topic_detail center-align">
			<h3>{{ post.title }}</h3>
			<p class="left-align">posted by: {{ post.user }}</p>
			<p class="left-align">{{ post.description }}</p>
		</div>
		<div class="card">
			<form action="{% url 'comments_create' topic_id post.id %}" method="post">
				{% csrf_token %}
				{{ comment_form.as_p }}
				<input class="btn indigo" type="submit" value="Add Comment">
			</form>
		</div>
		{% for comment in post.comment_set.all %}
			<div class="card">
				<div class="card-content">
					<p class="text-bold">{{ comment.user }}</p>
					<p class="left-align">{{ comment.content }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

